<?xml version="1.0" encoding="UTF-8"?>
<!-- -*- mode: XML -*- -->
<launch>
  <!-- Controller -->
  <!-- <arg name="model" default="$(find vesc_hw_interface)/launch/test.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/> -->
  <!-- Boot hardware interfaces -->

  <!-- FOR RIGHT FRONT (MOCK) -->
  <!-- <node name="mock_hw_interface_node" pkg="vesc_hw_interface" type="mock_hw_interface_node" output="screen" /> -->


  <node name="vesc_hw_interface_node" pkg="vesc_hw_interface" type="xr1_hw_interface_node" output="screen">
    <rosparam>
      port: /dev/ttyACM0
      register_passive_wheels: true
      middle_wheel_mimics_front: true
      strict_motors_check: false
      id_front_left: 115
      id_rear_left: 23
      id_front_right: 127
      id_rear_right: 67
    </rosparam>
  </node>

</launch>
