<?xml version="1.0" encoding="UTF-8"?>
<!-- -*- mode: XML -*- -->
<launch>
  <!-- Controller -->
  <!-- <arg name="model" default="$(find vesc_hw_interface)/launch/test.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/> -->
  <!-- Boot hardware interfaces -->

  <!-- FOR RIGHT FRONT (MOCK) -->
  <!-- <node name="mock_hw_interface_node" pkg="vesc_hw_interface" type="mock_hw_interface_node" output="screen" /> -->


  <node name="vesc_hw_interface_node" pkg="vesc_hw_interface" type="xr1_hw_interface_node" required="true" output="screen">
    
    Gear ratio (teeth) of motor to wheel 30 : 60
    <param name="gear_ratio_front_left" value="$(eval 30.0 / 60.0)" />
    <param name="gear_ratio_rear_left" value="$(eval 30.0 / 60.0)" />
    <param name="gear_ratio_front_right" value="$(eval 30.0 / 60.0)" />
    <param name="gear_ratio_rear_right" value="$(eval 30.0 / 60.0)" />

    <rosparam>
      debug_no_device: false
      port: /dev/ttyACM0
      register_passive_wheels: true
      middle_wheel_mimics_front: false
      strict_motors_check: false
      id_front_left: 115
      id_rear_left: 23
      id_front_right: 127
      id_rear_right: 67


      leg_port: /dev/ttyACM1
      use_only_valid_leg_encoder_values: true

      rocker_left_joint_name: "rocker_left_joint"
      rocker_right_joint_name: "rocker_right_joint"
      rocker_zero_enc_val: 3765
      rocker_reverse_dir: false

      bogie_left_joint_name: "bogie_left_joint"
      bogie_left_zero_enc_val: 3950
      bogie_left_reverse_dir: false

      bogie_right_joint_name: "bogie_right_joint"
      bogie_right_zero_enc_val: 0
      bogie_right_reverse_dir: false

      
    </rosparam>
  </node>

  <!-- Diagnostic Aggregator -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
      <rosparam command="load" file="$(find vesc_hw_interface)/config/diagnostics.yaml"/>
  </node>

</launch>
